.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #fff;
}

.left {
  flex: 0.8;
}

.middle {
  flex: 1.4;
}

.right {
  flex: 0.8;
  text-align: right;
}

.button {
  background: none;
  border: 0 none;
  color: inherit;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
  color: #3c9bd4;
  transition: color 0.28s ease 0s;
}

.nav {
  margin: 0;
  paddin: 0;
  list-style-type: none;
}

.nav li {
  display: inline-block;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #aaa;
}

.nav li:after {
  content: '|';
  margin: 0 0.5rem;
  color: #ddd;
}

.nav li:last-child:after {
  display: none;
}
