.container {
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;

  position: relative;

  vertical-align: middle;
  cursor: pointer;
}

.container:after {
  display: none;
  content: '✓';
  width: 1.5rem;
  height: 1.5rem;

  position: absolute;

  font-size: 1.2rem;
  line-height: 1.2;
  text-align: center;
  color: #600af7;
}

.active:after {
  display: inline-block;
}
